.score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 80px 400px;
  padding: 50px;
  border-radius: 10px;
  background-color: rgb(159, 85, 228);
}

.player-names {
  font-family: 'Rye', cursive;
  font-size: 30px;;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px 400px;
  margin-bottom: -200px;
  padding: 40px;
}

#scoreBoard1,#scoreBoard2,#to {
  font-size: 40px;
  font-style:bold;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 40px;
  border:0px;
  border-radius: 10px;
}
#to {
  background-color: transparent;
  color: black;
}

/* .reset-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */