*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rye', cursive;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(63, 6, 116, 0.678)), to(rgba(0, 238, 255, 0.486))), url(/img/dice_background.jpg);
  background-image: linear-gradient(0deg, rgba(63, 6, 116, 0.678), rgba(0, 238, 255, 0.486)), url(/img/dice_background.jpg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

h1, h3 {
  font-family: 'Rye', cursive;
  text-align: center;
  padding: 30px;
  color: white;
  text-shadow: 3px 2px #3f3e3e;
}

#nameInputPlayer1, #buttonPlayer1, #nameInputPlayer2, #buttonPlayer2 {
  -webkit-box-shadow: 3px 2px #3f3e3e;
  box-shadow: 3px 2px #3f3e3e;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.formAndDiceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
}

.diceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  /*align-items: center;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1600px;
  height: 400px;
  margin: 15px;
  padding: 5px;
}

.dicePlayer13 {
  width: 80px;
  height: 80px;
  position: relative;
}

.dicePlayer013 {
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes example {
  /*0%   {left:0px; top:0px;}
  100%  {left:300px; top:0px;}*/
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes example {
  /*0%   {left:0px; top:0px;}
  100%  {left:300px; top:0px;}*/
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

#scorePlayer1, #scorePlayer2 {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .formAndDiceContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 150%;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    font-size: 100%;
  }
  #nameInputPlayer1, #buttonPlayer1, #nameInputPlayer2, #buttonPlayer2 {
    font-size: 110%;
    -webkit-box-shadow: 3px 5px darkgrey;
    box-shadow: 3px 5px darkgrey;
    margin: 10px;
    padding: 5px;
    height: 50px;
    width: 150px;
  }
}

#player01-gameContainer, #player02-gameContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

.boardStep {
  width: 80px;
  height: 80px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  text-align: center;
}

#player01-step15, #player02-step15 {
  border-right: 4px solid white;
}

.playericon {
  padding-top: 25px;
  width: 25px;
}

#player01-figure10 {
  display: inline;
}

#player02-figure4 {
  display: inline;
}

.playerHead {
  color: white;
  font-family: Poppins;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}

/*
.characterSheetContainer,  .characterNameContainer, .characterGenderContainer, .characterRaceContainer, .characterClassContainer, .characterImageContainer {
	border: 1px solid black;
} */
/*# sourceMappingURL=style_1.css.map */